li {
  width: 100px;
  padding-left: 10px;
  display: block;
}
ul {
  padding-left: 0px;
  margin-top: 0px;
  list-style-position: inside;
}

.btn-toggle-nav {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.dropDown {
  visibility: hidden;
}

#mijnHome {
  background-color: white;
}
#mijnRood {
  background-color: red;
}
#mijnBlauw {
  background-color: blue;
}
#mijnGeel {
  background-color: yellow;
}
#mijnPaars {
  background-color: purple;
}
